body {
    background-color: #EEDDAA;
    color: #3366BB;
    font-size: 16px;
    font-family: "Stoke", "Lucida Bright", "Liberation", serif;
    text-align: center;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.imglogo {
    text-align: left;
    border-bottom: solid 4px #3366BB ;
    margin-bottom: 6px;
    padding-bottom: 15px;
}

header {
    display: block;
    margin-bottom: 1px;
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    width: 90%;
}

address {
    text-align: right;
    font-size: 14px;
    font-family: "Karla", "Verdana", "Ubuntu", sans-serif;
    font-style: italic;
    line-height: 140%;
    float: right;
}

nav {
    display: block;
    width: 20%;
    float: left;
    text-align: left;
}

nav ul {
    list-style-type: disc;
    color: #3366BB;
    line-height: 230%;
    margin-top: 40px;
    padding-left: 20px;
    text-align: left;
    text-decoration: underline;
}

nav a {
    text-decoration: none;
    color: #2255AA;
    font-weight: bold;
}

nav a:visited {
    color: #2255CC;
}

section {
    display: block;
    width: 70%;
    float: right;
}

.apresentacao {
    text-align: center;
    font-size: 16px;
    width: 100%;
}

.apresentacao img {
    margin-left: 20px;
    flex-shrink: 0;
}





.titulo {
    text-align: center;
}

.listaQueijos {
    width: 440px;
    color: #3366BB;
    background-color: #FFFFBB; 
    padding: 10px;
    border: 2px solid #3366BB;
    margin: 0 auto 10px auto; 
    text-align: center; 
}

.listaQueijos h4 {
    font-size: 14px;
    text-decoration: underline; 
    text-align: left; 
    margin-bottom: 5px;
}

.listaQueijos ul {
    color: #3366BB;
    font-size: 14px;
    list-style-type: disc;
    list-style-position: inside;
    text-align: left;
}

.nacional,
.internacional {
    background-color: #CC0000;
    color: #3366BB; 
    font-weight: bold;
    text-align: center;
}